body{
    background-color:steelblue;
    text-align: center;
    color: white;
    font-family:'Segoe UI', monospace;

}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: rgb(229, 79, 9);
    text-decoration: underline 3px solid rgb(229, 79, 9);
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%
}

h2 {
    text-align: center;
}

h3 {
    color: white;
}

h3 a {
    color: white;
}


img {
    width: 70%;
}
figure{
    text-align: center;
    font-style: italic;
}

figcaption{
    text-align: center;
}

div{
    text-align: center;
}

.navbar{
    background: linear-gradient(to right, #ff9966 0%, #33ccff 100%);
}

.footer-links{
    background: linear-gradient(to left, #ff9966 0%, #33ccff 100%);
}

    /* Foundational Three */
    main, .maincontainer {
        width: 85%;
        margin: 0 auto;
        max-width: 1000px;
    }

    /* Rule Overrides For Laptops / Small Screens */
    @media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
        #colorbox {
            background-color:yellow;
        }
    }

    /* Rule Overrides For Tablet Devices */
    @media screen and ( min-width: 601px ) and ( max-width: 980px )  {
        #colorbox {
            background-color:orange;
        }
    }

    /* Rule Overrides For Mobile Devices */
    @media screen and ( min-width: 370px ) and ( max-width: 600px ) {
        #colorbox {
            background-color:red;
        }
    }


/*Styling for p5.js*/
canvas {
    display: block;
    margin: 0 auto;
  }









