<footer>   
    <p>© 2025 CRL Merch  |  Designed by the <a href="https://webpages.charlotte.edu/ejoseph7/itis3135/joseph-corporation.com" class="footer-links" target="_blank">Joseph Corporation&trade;</a></p>

    <div class="social-links">
        <a href="#" class="social-icon" id="facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="social-icon" id="instagram">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="social-icon" id="x">
            <i class="bi bi-twitter-x"></i>
        </a>
    </div>
    
<div class="validator-links">
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="https://www.w3.org/Icons/valid-html401-blue" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!">
    </a>
</div>
  </footer>