<header>
    <div class="header-container">
        <img src="images/crl_logo.png" alt="CRL Merch Store Logo" class="logo"> 
        <h1>CRL Merch Store</h1>

        <div class="header-right">
            <div class="search">
                <input type="text" id="search-bar" placeholder="Search">
                <button id="search-button"><i class="bi bi-search"></i></button>
            </div>

            <div class="cart">
                <a href="checkout.html" class="cart-logo">
                    <i class="bi bi-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            </div>
        </div>
    </div>

    <div class="navbar">  
        <nav>
            <a href="./">Home</a>
            <span class="separator">&#9651;</span>
            <a href="gallery.html">Gallery</a>
            <span class="separator">&#9651;</span>
            <a href="shop.html">Shop</a>
            <span class="separator">&#9651;</span>
            <a href="customs.html">Customs</a>
            <span class="separator">&#9651;</span>
            <a href="faq.html">FAQ</a>
        </nav>
    </div>
</header>
