<header>
     
    <div class="header-container">
      <img src="/client_project/images/crl_logo.png" alt="CRL Merch Store Logo" class="logo"> 
      <h1>CRL Merch Store</h1>
    </div>
  
    <div class="navbar">  
      <nav>
          <a href="./">Home</a>
          <span class="separator">&#9651;</span>
          <a href="gallery.html">Gallery</a>
          <span class="separator">&#9651;</span>
          <a href="shop.html">Shop</a>
          <span class="separator">&#9651;</span>
          <a href="customs.html">Customs</a>
          <span class="separator">&#9651;</span>
          <a href="faq.html">FAQ</a>
      </nav>
     </div>
    </header>