<em>Eccentric power, Effortless charge.™</em>
<div class="footer-links">
<nav>
  <a href="https://webpages.charlotte.edu/ejoseph7/">Charlotte.edu</a>
  ~
  <a href="https://github.com/ejoseph24">Github</a>
  ~
  <a href="https://ejoseph24.github.io/itis3135/">Github.io</a>
  ~
  <a href="https://www.freecodecamp.org/EliJoseph">freeCodeCamp</a>
  ~
  <a href=https://www.codecademy.com/profiles/ejoseph24">Codecademy</a>
  ~
  <a href="https://www.linkedin.com/in/elijah-joseph-4a7ba3247/">LinkedIn</a>
</nav>
<p><a href="joseph-corporation.com">Joseph Corporation©</a></p>
<p><em><a href="https://www.freecodecamp.org/certification/EliJoseph/responsive-web-design">Certified in Responsive Web Design</a></em></p>
<p><em><a href="https://www.freecodecamp.org/certification/EliJoseph/javascript-algorithms-and-data-structures-v8">Certified in JavaScript Algorithms and Data Structures</a></em></p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
  <img style="border:0;width:88px;height:31px" src="https://ejoseph24.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
  <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
</div>