<h1> Elijah Joseph's Eccentric Jaguar || ITIS-3135 </h1>

<div class="navbar">
    <nav>
      <a href="./">Home</a>
      ~
      <a href="introduction.html">Introduction</a>
      ~
      <a href="contract.html">Contract</a>
      ~
      <a href="about.html">About</a>
      ~
      <a href="website_evaluations.html">Evals</a>
      ~
      <a href="links.html">Links</a>
      ~ 
      <a href="tables.html">Tables</a>
      ~ 
      <a href="project_overview.html">Project Overview</a>
      ~ 
      <a href="byo_intro.html">BYO Intro</a>
      ~ 
      <a href="slideshow.html">Slideshow</a>
      ~ 
      <a href="review1.html">Review 1</a>
      ~ 
      <a href="review2.html">Review 2</a>
  
    </nav>
    
    <div><nav>
      <a href="stuff/Run%20Away😨.htm">Trash</a>
      ~
      <a href="hobby/index.html">Hobby</a>
      ~ 
      <a href="forms.html">Forms</a>
      ~
      <a href="https://webpages.charlotte.edu/ejoseph7/itis3135/client_project/">Client Project</a>
    </nav></div>
</div>
    </h1>